.addbutton{
    background: #6750A4;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: $font-size-large;
    font-weight: 300;
    padding: $m-size;
    text-decoration: none;
}

.logoutButton {
    background: white;
    border: 1px solid #6750A4;
    border-radius: 8px;
    color: #6750A4;
    font-size: $font-size-large;
    font-weight: 300;
    padding: $m-size;
    text-decoration: none;
}


