.header__content{
    align-items: center;
    display: flex;
    justify-content: center;
    padding: $s-size;
    text-align: center;
}

.header__title{
    color: black;
    text-decoration: none;
    text-align: center;
    position: relative;
    left: 45px;
    h1 {
        margin: 0;
    }
}

.header__btn{
    padding: $s-size;
    position: relative;
    left: 520px;
}