// colors
$dark-grey: #333333;
$light-blue: #0096c7;
$btn-green: #40916C;
$bg-green: #1B4332;

// spacing

$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 50rem;

//font size

$font-size-large: 1.8rem;